@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*배경 이미지*/

#back #background{
    width: 100vw;
    height: 350vh;
}
#back{
    position: absolute;
} 
/*스테이지 30*/
#stage_con1{
    position:absolute;
    width: 9%;
    left: 31%;
    top: 12%;
}
#image1{
    width: 300%;
    height: 300%;
}


#stage_con2 {
    position: absolute;
    width: 9%;
    left: 29.5%;
    top: 28%;
}
#image2{
    width: 300%;
    height: 300%;
}


#stage_con3 {
    position: absolute;
    width: 9%;
    left: 35%;
    top: 39%;
}
#image3 {
    width: 300%;
    height: 300%;
}


#stage_con4 {
    position: absolute;
    width: 9%;
    left: 43%;
    top: 41%;
}
#image4 {
    width: 300%;
    height: 300%;
}


#stage_con5 {
    position: absolute;
    width: 9%;
    left: 47.7%;
    top: 54%;
}
#image5 {
    width: 300%;
    height: 300%;
}


#stage_con6 {
    position: absolute;
    width: 9%;
    left: 43%;
    top: 66%;
}
#image6 {
    width: 300%;
    height: 300%;
}


#stage_con7 {
    position: absolute;
    width: 9%;
    left: 34%;
    top: 67%;
}
#image7 {
    width: 300%;
    height: 300%;
}


#stage_con8 {
    position: absolute;
    width: 9%;
    left: 27%;
    top: 76%;
}
#image8 {
    width: 300%;
    height: 300%;
}


#stage_con9 {
    position: absolute;
    width: 9%;
    left: 29%;
    top: 89%;
}
#image9 {
    width: 300%;
    height: 300%;
}


#stage_con10 {
    position: absolute;
    width: 9%;
    left: 36%;
    top: 90%;
}
#image10 {
    width: 300%;
    height: 300%;
}


#stage_con11 {
    position: absolute;
    width: 9%;
    left: 44%;
    top: 88%;
}
#image11 {
    width: 300%;
    height: 300%;
}

#stage_con12 {
    position: absolute;
    width: 9%;
    left: 51%;
    top: 91%;
}
#image12 {
    width: 300%;
    height: 300%;
}


#stage_con13 {
    position: absolute;
    width: 9%;
    left: 52.5%;
    top: 105%;
}
#image13 {
    width: 300%;
    height: 300%;
}

#stage_con14 {
    position: absolute;
    width: 9%;
    left: 47%;
    top: 115%;
}
#image14{
    width: 300%;
    height: 300%;
}


#stage_con15 {
    position: absolute;
    width: 9%;
    left: 40%;
    top: 118%;
}
#image15 {
    width: 300%;
    height: 300%;
}


#stage_con16 {
    position: absolute;
    width: 9%;
    left: 33%;
    top: 121%;
}
#image16 {
    width: 300%;
    height: 300%;
}


#stage_con17 {
    position: absolute;
    width: 9%;
    left: 26.5%;
    top: 131%;
}
#image17 {
    width: 300%;
    height: 300%;
}


#stage_con18 {
    position: absolute;
    width: 9%;
    left: 27.3%;
    top: 145%;
}
#image18 {
    width: 300%;
    height: 300%;
}


#stage_con19 {
    position: absolute;
    width: 9%;
    left: 33.5%;
    top: 151%;
}
#image19 {
    width: 300%;
    height: 300%;
}


#stage_con20 {
    position: absolute;
    width: 9%;
    left: 41%;
    top: 148%;
}
#image20 {
    width: 300%;
    height: 300%;
}



#stage_con21 {
    position: absolute;
    width: 9%;
    left: 49%;
    top: 146%;
}
#image21 {
    width: 300%;
    height: 300%;
}


#stage_con22 {
    position: absolute;
    width: 9%;
    left: 53.5%;
    top: 158%;
}
#image22 {
    width: 300%;
    height: 300%;
}


#stage_con23 {
    position: absolute;
    width: 9%;
    left: 51.6%;
    top: 173%;
}
#image23 {
    width: 300%;
    height: 300%;
}


#stage_con24 {
    position: absolute;
    width: 9%;
    left: 45%;
    top: 181%;
}
#image24 {
    width: 300%;
    height: 300%;
}


#stage_con25 {
    position: absolute;
    width: 9%;
    left: 38%;
    top: 177.5%;
}
#image25 {
    width: 300%;
    height: 300%;
}



#stage_con26 {
    position: absolute;
    width: 9%;
    left: 30.5%;
    top: 175%;
}
#image26 {
    width: 300%;
    height: 300%;
}



#stage_con27 {
    position: absolute;
    width: 9%;
    left: 24.5%;
    top: 183%;
}
#image27{
    width: 300%;
    height: 300%;
}


#stage_con28 {
    position: absolute;
    width: 9%;
    left: 24.5%;
    top: 197%;
}
#image28 {
    width: 300%;
    height: 300%;
}


#stage_con29 {
    position: absolute;
    width: 9%;
    left: 29.5%;
    top: 208%;
}
#image29 {
    width: 300%;
    height: 300%;
}

/*스테이지 1*/
#stage_con30 {
    position: absolute;
    width: 9%;
    left: 36%;
    top: 212%;
}
#image30 {
    width: 300%;
    height: 300%;
}