@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*배경 이미지*/
#back #background{
    width: 100vw;
    height: 350vh;
}
#back{
    position: absolute;
} 

/* 스테이지 간격 조절 */
#image1 {
	position: absolute;
    width: 9%;
    left: 45%;
    top: 320%;
}