@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#3884a8;
}

#link{
	position: fixed;
    margin-left: 20px;
    margin-top: 24px;
}

#reset{
	float:right;
	margin-right: 20px;
    margin-top: 24px;
}

/*배경 이미지*/

#back {
	position: relative;
	width: 1125px;
	margin: 0 auto;
}


/*스테이지 30*/

#stage_con30{
    position:absolute;
    left: 450px;
    top: 50px;
}

#stage_con29{
    position:absolute;
    left: 433px;
    top: 143px;
}

#stage_con28{
    position:absolute;
    left: 496px;
    top: 221px;
}

#stage_con27{
    position:absolute;
    left: 596px;
    top: 241px;
}

#stage_con26{
    position:absolute;
    left: 668px;
    top: 307px;
}

#stage_con25{
    position:absolute;
    left: 640px;
    top: 401px;
}

#stage_con24{
    position:absolute;
    left: 537px;
    top: 422px;
}

#stage_con23{
    position:absolute;
    left: 434px;
    top: 442px;
}

#stage_con22{
    position:absolute;
    left: 398px;
    top: 529px;
}

#stage_con21{
    position:absolute;
    left: 486px;
    top: 584px;
}

#stage_con20{
    position:absolute;
    left: 592px;
    top: 571px;
}

#stage_con19{
    position:absolute;
    left: 700px;
    top: 575px;
}

#stage_con18{
    position:absolute;
    left: 732px;
    top: 666px;
}

#stage_con17{
    position:absolute;
    left: 673px;
    top: 747px;
}

#stage_con16{
    position:absolute;
    left: 576px;
    top: 776px;
}

#stage_con15{
    position:absolute;
    left: 473px;
    top: 800px;
}

#stage_con14{
    position:absolute;
    left: 395px;
    top: 863px;
}

#stage_con13{
    position:absolute;
    left: 405px;
    top: 960px;
}

#stage_con12{
    position:absolute;
    left: 494px;
    top: 1000px;
}

#stage_con11{
    position:absolute;
    left: 597px;
    top: 975px;
}

#stage_con10{
    position:absolute;
    left: 703px;
    top: 973px;
}


#stage_con9{
    position:absolute;
    left: 745px;
    top: 1063px;
}


#stage_con8{
    position:absolute;
    left: 716px;
    top: 1154px;
}


#stage_con7{
    position:absolute;
    left: 634px;
    top: 1205px;
}


#stage_con6{
    position:absolute;
    left: 536px;
    top: 1175px;
}


#stage_con5{
    position:absolute;
    left: 435px;
    top: 1165px;
}


#stage_con4{
    position:absolute;
    left: 363px;
    top: 1231px;
}


#stage_con3{
    position:absolute;
    left: 379px;
    top: 1320px;
}


#stage_con2{
    position:absolute;
    left: 443px;
    top: 1393px;
    z-index: 2;
}
 

#stage_con1{
    position:absolute;
    left: 529px;
    top: 1440px;
    z-index: 2;
}